@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    background: #00796B;
    color: white;
}


/* input */
#identification_ville {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

/* bouton valider */
#valider {
    background: white;
    color: #00796B;
    border-radius: 20px;
}

#date {
    text-align: center;
    margin-top: 5%;
    font-size: 40px;
    opacity: 0.4;
}

.row {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5%;
}

h1 {
    /* margin-left: 30%; */
    text-align: center;
    font-size: 150px;
}

#donneesMeteo {
    margin-right: 30%;
}


#carte {
    margin-left: 15%;
    margin-top : 5%;
}
